
    <h4 class="mb-3">Billing address</h4>
    <form #registerForm="ngForm"(submit)="placeOrder()">
      <div class="row g-3">
        <div class="col-12">
          <label for="firstName" class="form-label">Full name</label>
          <input type="text" class="form-control" [(ngModel)]="user.name" id="firstName" name="firstName" #name="ngModel" disabled>
          <small class="text-danger" [class.d-none]="name.untouched || name.valid">*This is required field</small>
        </div>
        

        <div class="col-12">
          <label for="username" class="form-label">Username</label>
          <div class="input-group has-validation">
            <span class="input-group-text">@</span>
            <input type="text" class="form-control" name="userName" [(ngModel)]="user.username" id="username" [placeholder]="user.username" #username="ngModel" disabled>
          
          </div>
        </div>
        

        <div class="col-12">
          <label for="address" class="form-label">Address</label>
          <input type="text" class="form-control" id="address" name="address" [(ngModel)]="address1" placeholder="1234 Main St" #address="ngModel" required>
          <small class="text-danger" [class.d-none]="address.untouched || address.valid">*This is required field</small>
        </div>

        <div class="col-md-5">
          <label for="country" class="form-label">Country</label>
          <select class="form-select" id="countries" name="country" [(ngModel)]="country" #addressThree="ngModel" required>
            <option value="">Choose...</option>
            <option>United States</option>
          </select>
          <small class="text-danger" [class.d-none]="addressThree.untouched || addressThree.valid">*This is required field</small>
        </div>

        <div class="col-md-4">
          <label for="state" class="form-label">State</label>
          <select class="form-select" [(ngModel)]="state" name="states" #addressFour id="state" required>
            <option value="">Choose...</option>
            <option>California</option>
            <option>Arizona</option>
            <option>Indiana</option>
            <option>Oregon</option>
            <option>Florida</option>
            <option>Colorado</option>
            <option>Alaska</option>
            <option>Delaware</option>
            <option>Montana</option>
            <option>Nevada</option>
            <option>New Jersey</option>
            <option>Pennsylvania</option>
            <option>Texas</option>
            <option>Illois</option>
            <option>New Mexico</option>
            <option>Alabama</option>
            <option>Kentucky</option>
            <option>Oklahoma</option>
            <option>Hawaii</option>
            <option>Lousiana</option>
            <option>North Carolina</option>
            <option>Wyoming</option>
            <option>Maryland</option>
            <option>Rhode Island</option>
            <option>Kansas</option>
            <option>Idaho</option>
            <option>Iowa</option>
            <option>Ohio</option>
            <option>Arkansas</option>
            <option>Michigan</option>
            <option>Connecticut</option>
            <option>Massachusetts</option>
            <option>South Carolina</option>
            <option>New Hampshire</option>
            <option>Nebraska</option>
            <option>Minnesota</option>
            <option>South Dakota</option>
            <option>Tennessee</option>
            <option>Utah</option>
            <option>Vermont</option>
            <option>Maine</option>
            <option>West Virginia</option>
            <option>Wisconsin</option>
            <option>Georgia</option>
            <option>Virginia</option>
            <option>Washington</option>
            <option>Missouri</option>
            <option>Mississippi</option>
            <option>New York</option>




          </select>          
        </div>

        <div class="col-md-3">
          <label for="zip" class="form-label">Zip</label>
          <input type="text" class="form-control" name="zipCode" id="zip" [(ngModel)]="zip" #addressFive="ngModel"  required>
          <small class="text-danger" [class.d-none]="addressFive.untouched || addressFive.valid">*This is required field</small>
        </div>
      </div>      

      <hr class="my-4">

      <h4 class="mb-3">Payment</h4>

      <div class="my-3">
        <div class="form-check">
          <input id="credit" [(ngModel)]="paymentType" name="paymentMethod" type="radio" class="form-check-input" value="Credit Card" checked required>
          <label class="form-check-label" for="credit">Credit card</label>
        </div>
        <div class="form-check">
          <input id="debit" [(ngModel)]="paymentType" name="paymentMethod"  type="radio" class="form-check-input" value="Debit Card" required>
          <label class="form-check-label" for="debit">Debit card</label>
        </div>
        
      </div>

      <div class="row gy-3">
        <div class="col-md-6">
          <label for="cc-name" class="form-label">Name on card</label>
          <input type="text" class="form-control" name="nameOnCard" [(ngModel)]="order.nameOnCard" #cardName="ngModel" id="cc-name" placeholder="" required>
          <small class="text-muted">Full name as displayed on card</small>
          <small class="text-danger" [class.d-none]="cardName.untouched || cardName.valid">*This is required field</small>
        </div>

        <div class="col-md-6">
          <label for="cc-number" class="form-label">Credit card number</label>
          <input type="number" class="form-control" id="cc-number" name="cardNumber" pattern="^\d{16}$" [(ngModel)]="order.cardNumber" #cardNum="ngModel" placeholder="" required>
          <div *ngIf="cardNum.errors && (cardNum.invalid || cardNum.touched)">
            <small class="text-danger" *ngIf="cardNum.errors['required']">*This is required field</small>
            <small class="text-danger" *ngIf="cardNum.errors['pattern']">*Credit card number should be 16 digits</small>
          </div>
          
        </div>

        <div class="col-md-3">
          <label for="cc-expiration" class="form-label">Expiration</label>
          <input type="text" class="form-control" id="cc-expiration" name="expiration" [(ngModel)]="order.expiration" #exp="ngModel" placeholder="" required>
          <small class="text-danger" [class.d-none]="exp.untouched || exp.valid">*This is required field</small>
        </div>

        <div class="col-md-3">
          <label for="cc-cvv" class="form-label">CVV</label>
          <input type="text" class="form-control" id="cc-cvv" name="cvv" pattern="^\d{3}$" [(ngModel)]="order.cvv" #code="ngModel" placeholder="" required>
          <div *ngIf="code.errors && (code.invalid || code.touched)">
            <small class="text-danger" *ngIf="code.errors['required']">*This is required field</small>
            <small class="text-danger" *ngIf="code.errors['pattern']">*CVV should be 3 digits long</small>
          </div>
        </div>
      </div>
      <hr class="my-4">

      <button [disabled]="registerForm.invalid" class="w-100 btn btn-primary btn-lg" type="submit">Continue to checkout</button>
    </form>

