
<div class="container bg-light" *ngIf=" isUserLogged(); else logged_out">
    <div class="row margin-sm">
        <div class="col justify-content-center">
            <app-homepage></app-homepage>
        </div>
    </div>
    <div class="row ">
        <div class="col" style="margin-top: 10px;">
            <app-products></app-products>
        </div>
    </div>
    
    <div class="row margin-sm">
        <div class="col">
            <app-footer></app-footer>
        </div>
    </div>
</div>

<ng-template #logged_out>
    <app-login></app-login>
    
  </ng-template>

