
<div class="container" *ngIf=" isUserLogged(); else logged_out">
<div class="row">
    <div class="col-lg-3">
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let category of categories"><a (click)="filter(category)">{{category}}</a></li>
            
        </ul>
    </div>
    <div class="col lg 9">
        <div class="row" *ngIf=" isUserLogged(); else logged_out ">
            <div class="col-sm-3"*ngFor="let product of filterCategory">
              <div class="card text-center" >
                <div class="card-body">
                  <h5 class="card-title ">{{ product.productName}}</h5>          
                  <img src="{{product.imageUrl}}" class="card-img-top">
                  <p class="card-text">{{product.description}}</p>
                  <h5>{{product.price | currency}}</h5>        
                  <a (click)="addToCart(product)" class="btn btn-primary">Add to cart</a>
                </div>
              </div>
            </div>    
          </div>
    </div>
</div>
</div>

  <ng-template #logged_out>
    <app-login></app-login>
    
  </ng-template>
